[submodule "bundle/vim-soy"]
	path = bundle/vim-soy
	url = git://github.com/duganchen/vim-soy.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
	ignore = untracked
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = git://github.com/vim-scripts/YankRing.vim.git
	ignore = untracked
[submodule "bundle/ctrl-p"]
	path = bundle/ctrl-p
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/htmljinja"]
	path = bundle/htmljinja
	url = git://github.com/ocim/htmljinja.vim.git
[submodule "bundle/jinja"]
	path = bundle/jinja
	url = git://github.com/vim-scripts/Jinja.git
[submodule "bundle/pythoncomplete"]
	path = bundle/pythoncomplete
	url = git://github.com/vim-scripts/pythoncomplete.git
[submodule "bundle/tasklist"]
	path = bundle/tasklist
	url = git://github.com/vim-scripts/TaskList.vim.git
[submodule "bundle/css"]
	path = bundle/css
	url = git://github.com/hail2u/vim-css3-syntax.git
[submodule "bundle/python"]
	path = bundle/python
	url = git://github.com/vim-scripts/python.vim.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
	ignore = untracked
[submodule "bundle/localvimrc"]
	path = bundle/localvimrc
	url = git://github.com/embear/vim-localvimrc.git
	ignore = untracked
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = git://github.com/lunaru/vim-less.git
[submodule "bundle/zencoding"]
	path = bundle/zencoding
	url = git://github.com/mattn/zencoding-vim.git
[submodule "bundle/vim-jade"]
	path = bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "bundle/jshint"]
	path = bundle/jshint
	url = git://github.com/walm/jshint.vim.git
[submodule "bundle/python-indent"]
	path = bundle/python-indent
	url = https://github.com/hynek/vim-python-pep8-indent.git
